@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
    background-color: antiquewhite;
}


*{
    margin: 0;
    padding: 0;
}


nav{
    font-family: 'Kanit' , sans-serif;

}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;

}

nav ul li{
    padding: 0 15px;

}

.brand img{
    width: 30px;
    padding: 0 8px;
    
}

.brand{
    display: flex;
    align-items: center;
    font-weight: 1.3 rem;

}


.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: "Oswald" , sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
   
}

.bottom{
    position: sticky;
    height: 70px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    
    
}

.icons{
    margin-top: 14px;
}

.icons{
    cursor: pointer;
}

#myprogressbar{
    width: vw;
}


.songitem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 100%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}

.songitem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;


}

.timestamp{
    margin: 0 23px;
}